html {
  scroll-behavior: smooth;
}

body {
  padding-top: 0px !important;
  background-color: #0C1220 !important;
  font-family: "Open Sans", sans-serif;
}

button:focus {
  outline: none !important;
  border: 0px !important
}

/********SMARTSCROLL********/

.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

#topBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #E92F5A;
  color: white;
  border: none;
  cursor: pointer;
  display: none;
}

/*************NAVBAR MENU ANIMATED********************/

/* Icon 1 */

.animated-icon2 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon2 span {
  background: #F60E51;
}

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/********************NAVBAR************************/

.bgimage {
  background-image: url(../img/slider03.jpg) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 100vh;
  width: 100% !important;
  position: absolute;
  top: 0;
  filter: brightness(40%);
}

/****************NAVBAR MENU******************/

.nav-bgcolor {
  background-color: rgba(0, 0, 0, 0.507) !important;
}

.navlink-color {
  padding: 10px 16px !important;
  text-decoration: none !important;
  display: inline-block !important;
  color: #cdcdcd !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  outline: none !important;
}

.navlink-color:hover {
  color: #C80934 !important;
}

.navbrand1 {
  color: #F1B0F9 !important;
  font-family: 'Sacramento', cursive;
  font-size: 29px;
}

.navbrand2 {
  color: #C80934 !important;
  position: relative;
  left: 8px;
  font-family: 'Amarante', cursive;
  font-size: 22px;
}

.actives {
  background: #C80934;
  color: #dadada !important;
  font-family: "Raleway", sans-serif !important;
  border-radius: 5px 0 5px;
  padding: 10px 16px !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  outline: none !important;
}

/****************NAVBAR MENU****END**************/

/********************HEADER***************************/

.bgimage {
  background-image: url(../img/slider03.jpg) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 80vh !important;
  width: 100% !important;
  filter: brightness(90%);
}

.header-title1 {
  color: #C80934 !important;
  font-size: 40px !important;
  text-transform: uppercase !important;
  font-family: 'Montserrat', sans-serif;
}

.header-title2 {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: left;
  position: relative !important;
  left: 2px;
}

.headerstitles {
  position: relative;
  top: 240px;
}

.btn1 {
  color: white;
  background-color: #131a2200;
  font-family: 'Prompt', sans-serif;
  font-size: 15px !important;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 130px !important;
  height: 40px !important;
  border: none;
  border-color: white !important;
  overflow: hidden;
  position: relative;
  transition: all 0.8s;
}

.btn1:hover {
  color: #fff;
  background-color: #C80934;
  text-shadow: 0 0 3px #333;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-color: #C80934 !important;
}

.btn1:before {
  content: "";
  background: #fff;
  height: 100px;
  width: 50px;
  transform: rotate(20deg);
  position: absolute;
  top: -30px;
  left: -80px;
  transition: all 0.8s;
}

.btn1:hover:before {
  left: 150px;
}

.btn1.red:hover {
  background-color: #ee5253;
}

@media only screen and (max-width: 767px) {
  .btn1 {
    margin-bottom: 20px;
  }
}

/*******SECTION 1 (ABOUT)*********/

.section1 {
  padding-bottom: 200px;
}

.about-title {
  font-size: 32px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
  /* display: inline-block; */
  text-align: center;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 90px;
}

.about-text {
  color: #CECECF;
  font-family: "Open Sans", sans-serif !important;
  position: relative;
  top: 70px;
}

.circle1, .circle2, .circle3 {
  width: 10px;
  height: 10px;
  background-color: #C80934;
  border-radius: 50%;
}

.circles {
  position: relative;
  top: 35px;
}

.card-about {
  position: relative !important;
  top: 90px !important;
}

.card-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  position: relative;
  top: 90px;
}

.card-text2 {
  color: #d5d5d5;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
  position: relative;
  top: 90px;
}

.card-text3 {
  color: #d5d5d5;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  top: 90px;
}

.checkmark-circle {
  width: 22px;
  height: 22px;
}

.checkmarks {
  position: relative;
  top: 120px;
}

.listitem {
  color: #d5d5d5;
}

/*******SECTION 2 (OUR SERVICES)*********/

.section2 {
  padding-bottom: 200px;
  background-color: #e92f5a;
}

.ourservices-title {
  font-size: 32px !important;
  color: #0b111f;
  text-transform: uppercase !important;
  position: relative !important;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 90px !important;
  text-transform: uppercase !important;
}

.ourservices-text {
  color: #1d1d1d !important;
  font-family: "Open Sans", sans-serif !important;
  position: relative;
  top: 70px;
}

.cards-top {
  position: relative;
  top: 120px;
}

.zoomimg {
  overflow: hidden;
}

.cardimg:hover {
  transform: scale(1.3);
}

.cardimg {
  transition: 0.5s;
}

.card-title1 {
  text-align: center !important;
  color: #0b111f !important;
  font-weight: bold !important;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 5px;
}

/*******SECTION 3 (PRICE)*********/

.section3 {
  padding-bottom: 200px;
  background-color: #0b111f;
}

.prices-top {
  position: relative;
  top: 120px;
}

/*

.txt-type>.txt {
  border-right: 3px solid #e92f5a;
}
*/

.price-title {
  font-size: 32px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
  /* display: inline-block; */
  text-align: center;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 90px;
}

.price-text {
  color: #CECECF;
  font-family: "Open Sans", sans-serif !important;
  position: relative;
  top: 70px;
}

.card1 {
  border: 1px solid white !important;
}

.lead {
  font-size: 1.25rem !important;
  font-family: "Open Sans", sans-serif !important;
  margin: 0 0 20px 0;
  color: #CECECF;
}

.lead2 {
  padding: 0;
  color: #CECECF;
  margin: 0 0 30px 0;
}

.box1 {
  border: 1px solid white !important;
  float: right;
  height: 40px !important;
  width: 80px !important;
  position: relative !important;
  left: 21px !important;
  top: -21px !important;
  background-color: white !important;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
}

.card2 {
  border: 1px solid green !important;
}

.box2 {
  border: 1px solid green !important;
  float: right;
  height: 40px !important;
  width: 80px !important;
  position: relative !important;
  left: 21px !important;
  top: -21px !important;
  background-color: green !important;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
}

.card3 {
  border: 1px solid #007bff !important;
}

.box3 {
  border: 1px solid #007bff !important;
  float: right;
  height: 40px !important;
  width: 80px !important;
  position: relative !important;
  left: 21px !important;
  top: -21px !important;
  background-color: #007bff !important;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
}

.card4 {
  border: 1px solid #e92f5a !important;
}

.box4 {
  border: 1px solid #e92f5a !important;
  float: right;
  height: 40px !important;
  width: 80px !important;
  position: relative !important;
  left: 21px !important;
  top: -21px !important;
  background-color: #e92f5a !important;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
}

.card5 {
  border: 1px solid #fd9800 !important;
}

.box5 {
  border: 1px solid #fd9800 !important;
  float: right;
  height: 40px !important;
  width: 80px !important;
  position: relative !important;
  left: 21px !important;
  top: -21px !important;
  background-color: #fd9800 !important;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
}

.card6 {
  border: 1px solid #fd00be !important;
}

.box6 {
  border: 1px solid #fd00be !important;
  float: right;
  height: 40px !important;
  width: 80px !important;
  position: relative !important;
  left: 21px !important;
  top: -21px !important;
  background-color: #fd00be !important;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
}

.card7 {
  border: 1px solid grey !important;
}

.box7 {
  border: 1px solid grey !important;
  float: right;
  height: 40px !important;
  width: 80px !important;
  position: relative !important;
  left: 21px !important;
  top: -21px !important;
  background-color: grey !important;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
}

.card8 {
  border: 1px solid rgb(81, 250, 47) !important;
}

.box8 {
  border: 1px solid rgb(81, 250, 47) !important;
  float: right;
  height: 40px !important;
  width: 80px !important;
  position: relative !important;
  left: 21px !important;
  top: -21px !important;
  background-color: rgb(81, 250, 47) !important;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
}

/*******Section4 (PRODUCT)*********/

.section4 {
  padding-bottom: 300px;
  /*background-color: #e92f5a;*/
  /*background-image: url(../img/beauty-parlour-pictures-145556-3661489.jpg) ;*/
  background: linear-gradient(to right, #c8093665, #c8093680), url(../img/beauty-parlour-pictures-145556-3661489.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cardtext {
  color: #CECECF;
  font-family: "Open Sans", sans-serif !important;
}

.cardtitle {
  position: relative !important;
  top: 80px !important;
}

.cardsservices {
  position: relative !important;
  top: 50px !important;
}

.btn2 {
  color: white;
  background-color: #131a2200;
  font-family: 'Prompt', sans-serif;
  font-size: 15px !important;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 130px !important;
  height: 40px !important;
  border-color: white !important;
  overflow: hidden;
  position: relative;
  transition: all 0.8s;
  position: relative !important;
  top: 100px !important;
  cursor: pointer;
}

.btn2:hover {
  color: #fff;
  background-color: #C80934 !important;
  text-shadow: 0 0 3px #333;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-color: #C80934 !important;
}

.btn2:before {
  content: "";
  background: #fff;
  height: 100px;
  width: 50px;
  transform: rotate(20deg);
  position: absolute;
  top: -30px;
  left: -80px;
  transition: all 0.8s;
}

.btn2:hover:before {
  left: 150px;
}

.btn2.red:hover {
  background-color: #ee5253;
}

@media only screen and (max-width: 767px) {
  .btn2 {
    margin-bottom: 20px;
  }
}

/**********SECTION 4 (PRODUCT) *END****************/

/*******Section5 (GALLERY)*********/

.section5 {
  background-color: #0b111f;
  padding-bottom: 200px;
}

.ourportfolio-title {
  font-size: 32px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
  /* display: inline-block; */
  text-align: center;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 80px;
}

.ourportfolio-text {
  color: #ffffff;
  font-family: "Open Sans", sans-serif !important;
  position: relative;
  top: 53px;
}

.circles2 {
  position: relative;
  top: 25px;
}

/**Gallery**/

.box {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  perspective: 500px;
  position: relative;
  z-index: 1;
}

.box:before, .box:after {
  content: '';
  background: linear-gradient(to bottom, #93291E, #ED213A, #93291E);
  height: 100%;
  width: 50%;
  opacity: 0;
  transform: rotateX(180deg);
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s ease 0s;
}

.box:after {
  transform: rotateX(-180deg);
  left: auto;
  right: 0;
}

.box:hover:before, .box:hover:after {
  opacity: 0.9;
  transform: rotateX(0);
}

.box img {
  width: 100%;
  height: auto;
}

.box .box-content {
  color: #fff;
  width: 60%;
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transition: all 0.3s ease 0.2s;
}

.box:hover .box-content {
  opacity: 1;
  filter: blur(0);
}

.box .title {
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 3px 0;
}

.box .post {
  font-size: 15px;
  text-transform: capitalize;
  margin: 0 0 7px;
  display: block;
}

.box .icon {
  padding: 0;
  margin: 0;
  list-style: none;
}

.box .icon li {
  margin: 0 5px;
  display: inline-block;
}

.box .icon li a {
  color: #ED213A;
  background: #fff;
  font-size: 20px;
  line-height: 35px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}

.box .icon li a:hover {
  color: #fff;
  background: #93291E;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.9);
}

@media only screen and (max-width:990px) {
  .box {
    margin: 0 0 30px;
  }
}

/**Gallery*END*/

.gallery-top {
  position: relative;
  top: 120px;
}

/*******Section5 (GALLERY)*****END****/

/*******Section6 (TEAMS)*******/

.section6 {
  background-color: #e92f5a;
  padding-bottom: 200px;
}

.ourteam-title {
  font-size: 32px;
  color: #0b111f;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
  /* display: inline-block; */
  text-align: center;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 80px;
}

.ourteam-text {
  color: #ffffff;
  font-family: "Open Sans", sans-serif !important;
  position: relative;
  top: 53px;
}

.cardzoom {
  overflow: hidden;
}

.cardzoomimg:hover {
  transform: scale(1.3);
}

.cardzoomimg {
  transition: 1s;
}

.card-bg-color {
  background-color: #242B3D !important;
}

.team-text {
  position: relative !important;
  top: -10px !important;
}

.teams-top {
  position: relative !important;
  top: 120px !important;
}

.teamsbox1 {
  width: 45px !important;
  height: 26px !important;
  border: 1px solid #949494 !important;
  cursor: pointer;
}

.fab {
  color: #818080 !important;
  position: relative;
  top: 2.5px;
}

.teamsbox1:hover, .teamsbox1:hover .fab {
  color: #C80934 !important;
  border-color: #C80934 !important;
}

/*******Section6 (TEAMS)***END****/

/*****************Section 7***********************/

.section7 {
  background-color: #242B3D;
  padding-bottom: 140px;
}

.ourcontact-title {
  font-size: 32px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
  /* display: inline-block; */
  text-align: center;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 80px;
}

.ourcontact-text {
  color: #ffffff;
  font-family: "Open Sans", sans-serif !important;
  position: relative;
  top: 53px;
}

.form-top {
  position: relative;
  top: 90px;
}

input[type=email], input[type=text], textarea {
  border-color: #949494 !important;
}

input[type=text]:focus {
  background-color: transparent;
}

input[type=email]:focus {
  background-color: transparent;
}

.form input, .form textarea {
  color: white !important;
}

.btn3 {
  color: white;
  background-color: #C80934;
  font-family: 'Prompt', sans-serif;
  font-size: 15px !important;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 130px !important;
  height: 40px !important;
  border: none;
  border-color: #C80934 !important;
  overflow: hidden;
  position: relative;
  transition: all 0.8s;
}

.btn3:hover {
  color: #fff;
  background-color: #131a2200;
  text-shadow: 0 0 3px #333;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-color: #C80934 !important;
}

.btn3:before {
  content: "";
  background: #fff;
  height: 100px;
  width: 50px;
  transform: rotate(20deg);
  position: absolute;
  top: -30px;
  left: -80px;
  transition: all 0.8s;
}

.btn3:hover:before {
  left: 150px;
}

.btn3.red:hover {
  background-color: #ee5253;
}

@media only screen and (max-width: 767px) {
  .btn3 {
    margin-bottom: 20px;
  }
}

.map-title {
  color: #C80934;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  position: relative !important;
  top: 1px !important;
  left: 5px !important;
}

.map-text {
  color: white;
  position: relative !important;
  top: 1px !important;
  left: 3px !important;
}

.phone-title, .email-title {
  color: #C80934;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  position: relative !important;
  top: 1px !important;
  left: 3px !important;
}

.phone-text, .email-text {
  color: white;
  text-decoration: none !important;
  position: relative !important;
  top: 1px !important;
  left: 3px !important;
  transition: 0.8s;
}

.email-text:hover, .phone-text:hover {
  color: #C80934 !important;
  transition: 0.8s;
}

.icons {
  width: 17px;
  height: 17px;
}

.contacts-container {
  position: relative;
  top: 85px;
}

/*****************Section 7****END****/

/********FOOTER********/

.footer {
  padding-bottom: 140px;
  background-color: #2b344b;
}

.navbrand1-footer {
  color: #F1B0F9 !important;
  font-family: 'Sacramento', cursive;
  font-size: 42px;
}

.navbrand2-footer {
  color: #C80934 !important;
  position: relative;
  left: 8px;
  font-family: 'Amarante', cursive;
  font-size: 30px;
}

.footer-top {
  position: relative;
  top: 30px;
}

.footer-logo {
  position: relative;
  top: 40px !important;
}

.footer-text {
  color: #929292;
  position: relative;
  top: 40px;
}

.footer-title {
  color: white;
}

.footer-ourservices {
  position: relative !important;
  top: 60px !important;
  left: 50px !important;
}

.footernavlink, .nav-footer-link {
  text-decoration: none !important;
  color: #929292;
}

.footernavlink:hover {
  text-decoration: none !important;
  color: #C80934;
}

.opening-time {
  position: relative;
  top: 60px;
}

.cardfooter {
  border: none !important;
  position: relative;
  top: 20px;
}

.Week {
  position: relative !important;
  top: -100px !important;
  left: -20px !important;
}

.weektext {
  font-size: 15px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  color: #929292 !important;
  padding: 5px !important;
}

.author-top {
  position: relative;
  top: 80px;
}

.fa-heart {
  color: #C80934 !important;
}

.author-text {
  color: #929292 !important;
}

.section1 {
  padding-bottom: 180px;
}

.about-title {
  font-size: 30px;
  position: relative;
  top: 80px;
}


/***********RESPONSIVE************/

/**********768px************/

@media (max-width: 768px) {
  .actives {
    background: none !important;
    color: #C80934 !important;
  }
  .headerstitles {
    position: relative !important;
    top: 180px !important;
    font-size: 20px !important;
  }
  .header-title1 {
    font-size: 28px !important;
  }
  .header-title2 {
    font-size: 20px !important;
  }
  .bgimage {
    height: 60vh !important;
    width: 100% !important;
  }
  .ourservices-title, .price-title, .ourportfolio-title, .ourcontact-title {
    font-size: 30px !important;
  }
  .section4 {
    padding-bottom: 200px;
  }
  .cardsservices {
    position: relative !important;
    top: 20px !important;
  }
  .gallery-top {
    position: relative;
    top: 80px;
  }
  .ourteam-title {
    font-size: 30px;
    position: relative;
    top: 80px;
  }


  .footer-top {
    position: relative;
    top: 10px;
  }
  
  .footer-logo {
    position: relative;
    top: 30px !important;
  }

  .footer-ourservices {
    position: relative !important;
    top: 60px !important;
    left: 20px !important;
  }

}

/************320px***********/

@media (max-width:320px) {
  .headerstitles {
    position: relative !important;
    top: 140px !important;
  }
}